/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

* {
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(246, 246, 246);
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
#root, #__next {
    isolation: isolate;
}
input {
    padding: 0;
}

@font-face {
    font-family: "Fortrack";
    src: "./fortrack-font/FortrackRegular-6G8v.otf", format("opentype");
}

button {
    cursor: pointer;
}

button:hover {
    background-color: rgb(232, 232, 232);
}

:root {
    --max-width: 50em;
    accent-color: black;
}

.container {
    font-family: "Fortrack", "Helvetica";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: var(--max-width);
    border-radius: 3em;
    background-color:#c30f0c;
    box-shadow: 1em 1em 1em rgb(194, 201, 207);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 35em;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin: .5em 0em .4em;
    /* flex-direction: column; */
}

.header > h1 {
    margin: .3em 0em 0em;
    text-align: center;
    text-shadow: 0.5em 0.8em black, -0.5em -0.8em black;

}

.header > a {
    align-self: flex-end;
    justify-self: end;
    margin: 0em 0em .8em;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas {
    width: 35em;
    height: 35em;
    background-color: rgb(228, 228, 228);
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 0.05em;
    border: .5em solid #451211;
    border-radius: .4em;
}

.toolbar {
    height: fit-content;
    width: 35em;
    margin: 1em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tools {
    width: 35em;
    display: flex;
    justify-content: space-between;
}

li {
    height: fit-content;
}

.instruction-text {
    font-weight: bold;
    font-size: 1.5em;
}

div.toolbar > h2 {
    text-align: center;
}

div.toolbar > ul {
    list-style: none;
    /* margin: 1em; */
    padding: 0;
}

input[type="number"] {
    width: 3em;
    text-align: center;
}

input[type="range"] {
    cursor: ew-resize;
}

/* always show up and down arrows */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}

.pixel { 
    background-color: lightgray;
}

.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;

}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}